.sidebar{
  flex: 2;
  height: 100vh;
}
.sidebarContainer{
  background-color: #222;
  padding: 30px;
  border-radius: 5px;
}
.sidebarList{
  padding: 0;
  margin: 0;
}
.sidebarListItem{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.sidebarListItem:hover{
  color: #b5b5b5;
}
.sidebarListItemIcon{
  margin-right: 5px;
}

@media (max-width:870px){
  .sidebar{
    flex:1.5;
  }
}

