.homecontainer{
  display: flex;
  width: 100%;
  padding: 3rem 9%;
  gap: 30px;
}

@media (max-width: 1120px){
  .homecontainer{
    padding: 3rem 1rem;
    gap: 10px;
  }
}

@media (max-width:870px){
  .homecontainer{
    padding: 3rem .5rem;
  }
}

@media (max-width:656px){
  .homecontainer{
    flex-direction: column;
  }
}